<!doctype html>
<html lang="en" ng-app="flightApp">
<head>
    <meta charset="utf-8">
    <title>AngularJS Flights</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div ng-controller="FlightListCtrl">
        <h1>Flights</h1>
        <input type="text" ng-model="filteringBy.$" autofocus>
        <label>
            <input type="checkbox" ng-model="sdfOnly"> SDF only
        </label>
        <table class="table">
            <thead>
            <tr>
                <th>Flight Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="flight in flightService.flights | filter:filteringBy | orderBy: 'departure'"
                    ng-hide="sdfOnly && flight.origin != 'SDF'">
                <td>{{ flight.number }}</td>
                <td map>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.departure | date:'HH:mm' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="flight.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
